body {
  margin: 50px;
  padding: 40px;
  background-color: #E6E0E0;
}

#Hawaii, #South_Africa, #France, #result {
  display: none;
}

.container {
  margin-top: 20px;
  background-color: #D4D4D4
  padding-bottom: 30px;
  max-width: 850px;
}

h1 {
  font-weight: bold;
  font-family: sans-serif;
}

p {
  font-size: 16px;
  font-weight: bolder;
  padding-top: 25px;
}

.jumbotron {
  padding: 80px;
  text-align: center;
  margin-bottom: 32px;
  background-image: url(../img/sea-beauty.jpg);
  background-size: cover;
  text-shadow: white 2px 2px 2px;
}

#label {
  padding:10px;
  font-style: italic;
  font-weight: bolder;
  font-size: 18px;
}

label {
  margin: 5px
}

#submit {
  margin-top: 20px;
}

.navbar {
  font-size: 16px;
}
#result {
  font-size: 18px;
  font-weight: bolder;
  padding: 15px;

}
